

.main{
    overflow-x:hidden;
   /* background: #F9F9F9; */
   background-color: #FFFF;
   font-family:  "Inter", "Geeza Pro", sans-serif; 
}
@media (max-width: 600px) {
    .main {
    background: #F9F9F9; 
    }
}